/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Globally Hide the Scrollbar for a Clean Look --- */

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Internet Explorer and Edge (legacy) */
body {
  -ms-overflow-style: none;
}

/* --- Custom Range Slider Styles for a Premium Feel --- */
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #e5e7eb; /* Tailwind's gray-200 */
  border-radius: 9999px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background: rgb(254, 181, 100); /* Your brand-gold color */
  cursor: pointer;
  margin-top: -8px; /* Vertically center the thumb on the track */
  border: 4px solid white;
  box-shadow: 0 0 0 1px #cbd5e1; /* Subtle ring for definition */
}

.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 4px rgb(254, 181, 100, 0.4);
}

/* Firefox Styles for Range Slider */
.custom-range::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #e5e7eb;
  border-radius: 9999px;
}

.custom-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background: rgb(254, 181, 100);
  cursor: pointer;
  border: 4px solid white;
  box-shadow: 0 0 0 1px #cbd5e1;
}

/* --- Utility to hide scrollbars on SPECIFIC elements (like carousels) --- */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
